{% extends 'base.html' %}
{% load static %}


{% block title %}
Category | Detail
{% endblock title %}




{% block content %}
<div class="page-inner no-page-title">
    <div id="main-wrapper">
        <div class="content-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style-1">
                    <li class="breadcrumb-item"><a href="#">Category</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Detail</li>
                </ol>
            </nav>
            <h1 class="page-title"></h1>
        </div>
        {% include 'snippets/messages.html' %}




        <div class="row">
            <div class="col-xl">
                <div class="card">
                    <div class="card-body">
                        <h4 class=" text-center">{{cat.name|title}}</h4>
                        <hr>

                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target=".bd-example-modal-lg">Update Category</button>
                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                            aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">Update Category</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% include 'category/category_update.html' with  cat=cat form=form %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                            Delete {{cat.name|title}}
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{cat.name|title}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are You Sure You Want To Delete <b>{{cat.name}} ? </b> All items
                                        Associated With This Category Will Be Deleted
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <a href="{{cat.get_delete_url}}" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xl">
                <div class="card">
                    <div class="card-body">
                        <div class="text text-center">
                            <h5 class="card-title">Associated Items</h5>
                        </div>






                        <hr>
                        <table class="table table-hover" id="table_id">
                            <thead>
                                <tr>

                                    <th scope="col">Item Name </th>
                                    <th scope="col">Item Quantity</th>
                                    <th scope="col">Expiry Date</th>
                                    <th scope="col">Actions</th>



                                </tr>
                            </thead>
                            <tbody>
                                {% for cats in cat.categories.all  %}
                                <tr>



                                    <td><a href="{{cats.get_absolute_url}}">{{cats.name}}</a></td>
                                    <td><a href="{{cats.get_absolute_url}}">{{cats.stock_on_hand}}</a></td>
                                    <td><a href="{{cats.get_absolute_url}}">{{cats.expiry_date}}</a></td>
                                    <td><a href="{{cats.get_absolute_url}}" class="btn btn-primary">View</a> </td>





                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>






    </div>
</div><!-- Main Wrapper -->
{% endblock content %}