{% load widget_tweaks %}

<form method="post" action="{% url 'orders:order_updates' form.instance.pk %}" class="js-book-update-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title text text-center">New Update</h4>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {% include 'snippets/order_form.html' %}
    </div>
    <input type="submit" value="submit">
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

    </div>
</form>