{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="page-inner no-page-title">
    <div id="main-wrapper">
        <div class="content-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style-1">
                    <li class="breadcrumb-item"><a href="#">Layouts</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Blank Layout</li>
                </ol>
            </nav>


            <div class="row">
                <div class="col-xl">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Vertically Centered</h5>


                            {% include 'snippets/charts.html' %}



                        </div>
                    </div>
                </div>
            </div>








        </div>

    </div>
    < !--Main Wrapper-->

        {% endblock content %}



        {% block js %}

        {% endblock js %}