{% extends 'base.html' %}

{% load static %}

{% block title %}
Items | List
{% endblock title %}




{% block content %}
<!-- Page Inner -->
<div class="page-inner no-page-title">
    <div id="main-wrapper">
        <div class="content-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style-1">
                    <li class="breadcrumb-item"><a href="#">Items </a></li>

                </ol>
            </nav>

            <div class="row">
                <div class="col-xl">
                    <div class="card">
                        <div class="card-body">
                            <div class="text text-center">
                                <h5 class="card-title">Items</h5>
                            </div>
                            {% include 'snippets/messages.html' %}

                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target=".bd-example-modal-lg">Add New Item</button>
                            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">Add New Item</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {% include 'items/item_forms.html' with form=form %}

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="table-responsive"></div>
                            <table class="table" id="table_id">
                                <thead>
                                    <tr>
                                        <th scope="col">Image </th>

                                        <th scope="col">Name </th>
                                        <th scope="col">Stock On Hand</th>
                                        <th scope="col">Expiry Date</th>
                                        <th scope="col">Shelf Number</th>
                                        <th scope="col">Actions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% include 'snippets/item_list.html' with item=item %}

                                </tbody>

                                <div class="modal fade" id="modal-item">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        </div>item
                                    </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    </div>

</div><!-- Main Wrapper -->


{% endblock content %}

{% block extrajs %}
<script>
    $(function () {

        /* Functions */

        var loadForm = function () {
            var btn = $(this);
            $.ajax({
                url: btn.attr("data-url"),
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                    $("#modal-item").modal("show");
                },
                success: function (data) {
                    $("#modal-item .modal-content").html(data.html_form);
                }
            });
        };

        var saveForm = function () {
            var form = $(this);
            $.ajax({
                url: form.attr("action"),
                data: form.serialize(),
                type: form.attr("method"),
                dataType: 'json',
                success: function (data) {
                    if (data.form_is_valid) {
                        $("#item-table tbody").html(data.html_item_list);
                        $("#modal-item").modal("hide");
                    }
                    else {
                        $("#modal-item .modal-content").html(data.html_form);
                    }
                }
            });
            return false;
        };


        /* Binding */

        // Create item
        $(".js-create-item").click(loadForm);
        $("#modal-item").on("submit", ".js-item-create-form", saveForm);

        // Update item
        $("#item-table").on("click", ".js-update-item", loadForm);
        $("#modal-item").on("submit", ".js-item-update-form", saveForm);

    });
</script>
{% endblock extrajs %}