{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<title>Items | Add To Shelf</title>




{% block content %}
<div class="page-inner no-page-title">
    <div id="main-wrapper">
        <div class="content-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style-1">
                    <li class="breadcrumb-item"><a href="#">Items</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Item To Shelf</li>
                </ol>
            </nav>
            <h1 class="page-title">New Order</h1>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">












                                <div class="row">
                                    <div class="col-xl">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="text text-center">
                                                    <h5 class="card-title">PLACE ORDER</h5>
                                                </div>


                                                {% include 'shelf/item_form.html'  with form=form %}

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Main Wrapper -->

    {% endblock content %}